.fieldset{
    position: absolute;
    margin-top: -30px;
    background: #fff;
    border: 1px solid #bbb;
    padding: 0 5px;
    border-radius: 5px;
    color:#111;
}

.disabled{
    pointer-events: none;
}